{% extends "base.html" %}

{% block content %}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Tienda.PH</p>
                </div>
            </div>
        </header>
        <div class='container'>
            <div class='row'>
                <center>
                    <div class='col-8'>
                        <br>
                        <br>
                     <h1><p align='justify'>"Welcome to Tindahan.ph – the modern Filipino marketplace designed for your convenience. 
                        We understand the evolving needs of today's shoppers, and we're here to bring the diverse 
    offerings of a traditional Filipino 'tindahan' into the digital age. Discover a wide array 
    of products, from groceries and household essentials to the latest local brands, all in one 
    accessible online platform. With easy navigation, secure transactions, and reliable delivery, 
    Tindahan.ph makes it simpler than ever to get what you need, so you can spend more time on what truly matters. 
    Experience the ease of online shopping with a distinctly Filipino touch at Tindahan.ph."</p></h1>
<br>
<br>
                    </div>
                </center>

            </div>

        </div>

   

{% endblock content %}